---
import Layout from "../../layouts/Layout.astro";
import "../../styles/forms.css";
import Button from "../../components/Botones/TinyBoton.astro";
import Campo from "../../components/Campo.astro";
---

<Layout>
    <header>
        <h1 class="text-4xl font-bold text-center">Alta de producto</h1>
    </header>
    <div class="form-container">
        <form action="/productos/alta" method="post" class="form">
            <p class="font-bold text-2xl text-center">
                Formulario <br />alta de producto
            </p>
            <fieldset>
                <legend>Información del producto</legend>
                <Campo
                    forp="nombre"
                    label="Nombre:"
                    type="text"
                    placeholder="Nombre del producto"
                    id="nombre"
                    name="nombre"
                    required
                />

                <Campo
                    forp="proovedor"
                    label="Proveedor:"
                    type="text"
                    id="proveedor"
                    name="proveedor"
                    placeholder="Proveedor del producto"
                    required
                />
            </fieldset>
            <div class="flex justify-around">
                <!-- <button type="submit" class="btn-submit">Guardar</button>
                <button type="reset" class="btn-reset">Limpiar</button> -->
                <Button label="Guardar" isSubmit />
                <Button label="Limpiar" isReset />
            </div>
        </form>
    </div>
</Layout>
