---
import FormHeader from "../../components/FormHeader.astro";
import Layout from "../../layouts/Layout.astro";
import Campo from "../../components/Campo.astro";
import Button from "../../components/Botones/TinyBoton.astro";
import "../../styles/forms.css";

const urlParams = new URL(Astro.request.url).searchParams;
const error = urlParams.get("error");
const success = urlParams.get("success");
const message = urlParams.get("message");
---

<Layout>
    <FormHeader title="Alta de Departamento" returnHref="/departamentos" />
    <div class={`container ${error === "true" ? "error-active" : ""}`}>
        {
            error === "true" && (
                <div class="error-message">
                    <p>Error: {message}</p>
                </div>
            )
        }
        {
            success === "true" && (
                <div class="success-message">
                    <p>Éxito: {message}</p>
                </div>
            )
        }
    </div>
    <form
        id="productoForm"
        class="general-form"
        action="/api/departamentos/alta"
        method="post"
    >
        <p class="font-bold text-2xl text-center">
            Formulario <br />alta de departamento
        </p>
        <fieldset>
            <legend>Información del departamento</legend>
            <Campo
                forp="nombre"
                label="Nombre:"
                type="text"
                placeholder="Nombre del departamento"
                id="nombre"
                name="nombre"
                required
            />

            <Campo
                forp="encargado"
                label="Encargado:"
                type="text"
                id="encargado"
                name="encargado"
                placeholder="Encargado del departamento"
                required
            />
        </fieldset>
        <div class="flex justify-around">
            <Button label="Guardar" isSubmit />
            <Button label="Limpiar" isReset />
        </div>
    </form>
</Layout>
