---
import TinyBoton from "../../components/Botones/TinyBoton.astro";
import Campo from "../../components/Campo.astro";
import FormHeader from "../../components/FormHeader.astro";
import Layout from "../../layouts/Layout.astro";
import "../../styles/forms.css";

const urlParams = new URL(Astro.request.url).searchParams;
const error = urlParams.get("error");
const success = urlParams.get("success");
const message = urlParams.get("message");
---

<Layout>
    <FormHeader title="Baja de Departamento" returnHref="/departamentos" />
    <div class={`container ${error === "true" ? "error-active" : ""}`}>
        {
            error === "true" && (
                <div class="error-message">
                    <p>Error: {message}</p>
                </div>
            )
        }
        {
            success === "true" && (
                <div class="success-message">
                    <p>Éxito: {message}</p>
                </div>
            )
        }
    </div>
    <form
        class="general-form"
        id="departamentForm"
        action="/api/departamentos/baja"
        method="post"
    >
        <p class="font-bold text-2xl text-center">
            Formulario <br /> baja de departamento
        </p>
        <fieldset>
            <legend>Ingrese la clave del departamento</legend>
            <Campo
                forp="clave"
                label="clave"
                type="text"
                id="clave"
                name="clave"
                placeholder="Clave del producto"
                required
            />
        </fieldset>
        <div class="flex justify-around">
            <TinyBoton label="Eliminar" isSubmit />
            <TinyBoton label="Limpiar" isReset />
        </div>
    </form>
</Layout>
