---
import FormHeader from "../../components/FormHeader.astro";
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";
import { db, Department } from "astro:db";

const departments = await db.select().from(Department);
---

<Layout>
    <FormHeader
        title="Consulta de Departamentos"
        returnHref="/departamentos/"
    />
    <table>
        <thead>
            <tr>
                <th class="rounded-tl-2xl">Clave</th>
                <th>Nombre</th>
                <th class="rounded-tr-2xl">Responsable</th>
            </tr>
        </thead>
        <tbody id="departamentosTableBody">
            {
                departments.length > 0 ? (
                    departments.map((producto) => (
                        <tr>
                            <td class="cell">{producto.clave}</td>
                            <td class="cell">{producto.nombre}</td>
                            <td class="cell">{producto.encargado}</td>
                        </tr>
                    ))
                ) : (
                    <tr>
                        <td colspan="3" class="cell">
                            No hay departamentos registrados
                        </td>
                    </tr>
                )
            }
        </tbody>
    </table>
</Layout>

<style>
    /* TODO: Pasar estilos de tabla a archivo general de estilos */
    @reference "../../styles/global.css";
    .cell {
        @apply border text-[1rem] text-center px-3 py-1;
    }

    table {
        @apply w-1/2 table-auto mx-auto;
    }
    th {
        @apply bg-amber-200 px-6 py-3  text-2xl;
    }
</style>
