---
import Layout from "../../layouts/Layout.astro";
import "../../styles/forms.css";
import Button from "../../components/Botones/TinyBoton.astro";
import Campo from "../../components/Campo.astro";
import FormHeader from "../../components/FormHeader.astro";
---

<Layout>
    <FormHeader title="Alta de Producto" returnHref="/productos/" />
    <form action="/productos/alta" method="post" class="general-form">
        <p class="font-bold text-2xl text-center">
            Formulario <br />alta de producto
        </p>
        <fieldset>
            <legend>Información del producto</legend>
            <Campo
                forp="nombre"
                label="Nombre:"
                type="text"
                placeholder="Nombre del producto"
                id="nombre"
                name="nombre"
                required
            />

            <Campo
                forp="proovedor"
                label="Proveedor:"
                type="text"
                id="proveedor"
                name="proveedor"
                placeholder="Proveedor del producto"
                required
            />
        </fieldset>
        <div class="flex justify-around">
            <Button label="Guardar" isSubmit />
            <Button label="Limpiar" isReset />
        </div>
    </form>
</Layout>
