---
import FormHeader from "../../components/FormHeader.astro";
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";
import { db, Product } from "astro:db";

const productos = await db.select().from(Product);
---

<Layout>
    <FormHeader title="Consulta de Productos" returnHref="/productos/" />
    <table>
        <thead>
            <tr>
                <th class="rounded-tl-2xl">Clave</th>
                <th>Nombre</th>
                <th class="rounded-tr-2xl">Proveedor</th>
            </tr>
        </thead>
        <tbody id="productTableBody">
            {
                productos.length > 0 ? (
                    productos.map((producto) => (
                        <tr>
                            <td class="cell">{producto.clave}</td>
                            <td class="cell">{producto.nombre}</td>
                            <td class="cell">{producto.proveedor}</td>
                        </tr>
                    ))
                ) : (
                    <tr>
                        <td colspan="3" class="cell">
                            No hay productos registrados
                        </td>
                    </tr>
                )
            }
        </tbody>
    </table>
    <style>
        /* TODO: Pasar estilos de tabla a archivo general de estilos */
        @reference "../../styles/global.css";
        .cell {
            @apply border text-[1rem] text-center px-3 py-1;
        }

        table {
            @apply w-1/2 table-auto mx-auto;
        }
        th {
            @apply bg-amber-200 px-6 py-3  text-2xl;
        }
    </style>
</Layout>
