---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <header class="text-center my-8">
        <h1 class="text-4xl font-bold mb-4">
            Oops! Parece que algo salio mal...
        </h1>
        <p class="text-lg mb-4">
            No te preocupes, el desarrollador se encuentra trabajando en ello.<br
            />
        </p>
        <a
            href="/"
            class="bg-gray-200 py-2 px-4 rounded hover:bg-gray-300 active:bg-gray-400 transition"
            >Regresar al menú principal</a
        >
    </header>
    <img
        src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjE2Hd2TaBlqukirv3MVDZkXPEklY1sJ90U3UZ6np9n3auG7pVcuglo1YZXbbTg2VigcG449HJ_SWfmdEgko76Jrws9BSBaR-xYWqIaL9iULfi4ry6B-Rh3zFD-mxnIKV2_AyTkUeJ3oSA/s1600/LazyCat.png"
        alt="404"
        class="w-1/2 mx-auto"
    />
</Layout>
