---
import "../styles/global.css";


---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://unpkg.com/nice-forms.css@0.1.7/dist/nice-forms.css" />
		<meta name="generator" content={Astro.generator} />
		<title>Supermercado</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	/* body {
		margin: 0;
		width: 100%;
		height: 100%;
	} */
</style>
